# .env
# Exclude files and directories from the Docker context
.git/
.gitignore
.dockerignore
.vscode/
.idea/

# Python virtual environments and cache
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/

# Terraform state files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Log and temp files
*.log
logs/
*.bak
*.tmp

# actually mine
k8sDeployment.yaml
init.sql